
<h3>Bienvenido a <%= title %></h3>
    <p>¡El portal donde podrá crear sus juegos!</p>
	
    <footer>
			<a href="https://github.com/calex0/quiz4-modulo-7.git">
    Proyecto en GitHub</a>
    </footer>
 
