 
    <form method="get" action="/quizes/question">
    Pregunta: <%=pregunta %> <p>
      <input type="text" name="respuesta" placeholder="Responda aquí">
      <input type="submit" value="enviar">
    </form>
    
